<% if forks == [] %>
  <h3><span class="glyphicon glyphicon-thumbs-down"></span><%= @repo %> is all but popular!</h3>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon-book"></span></th>
      <th class="sortable"><span class="glyphicon glyphicon-star"></span> Stars</th>
      <th class="sortable"><span class="fa fa-code-fork"></span> Forks</th>
      <th class="sortable"><span class="fa fa-meh-o"></span> Open Issues</th>
      <th class="sortable"><span class="fa fa-outdent"></span> Watchers</th>
      <th class="sortable"><span class="glyphicon glyphicon-calendar"></span> Last update</th>
    </tr>
    <%= erb :repo, locals: { repo: original, main_repo: true } %>
  </thead>
  <tbody>
    <% forks.each do |fork| %>
      <%= erb :repo, locals: { repo: fork, main_repo: false } %>
    <% end %>
  </tbody>
</table>
<% end %>
