<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='container' style="width: 600px;" >
      <div class='row' style="padding: 50px 0;">
        <form>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
            <input type="text" name='repo' class="form-control" placeholder="username/repo">
          </div>
        </form>
      </div>
      <div class='row'>
        <%= yield %>
      </div>
      <footer class="footer">
        <img src='/images/BE.png' alt='thanks to @bdc'/> Made by <a href='http://yannick.io'>Yannick</a> with love in Belgium
      </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script>
      $(function(){
        $('form').submit(function(){
            $(location).attr('pathname', $('[name="repo"]').val());
            return false;
        });
      });
    </script>
  </body>
</html>
