<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content="Find maintained forks of your favorite repos">
    <link rel="author" href="https://plus.google.com/+YannickSchutz“ rel="me"/>
    <meta property="og:image" content="/logo.png"/>
    <meta property="og:url" content="http://forked.yannick.io"/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content="Stargazers forks"/>
    <title>Stargazers forks</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='container' style="width: 600px;" >
      <header class='row' style="padding: 50px 0;">
        <i class='fa fa-code-fork fa-5x'></i>
        <form>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
            <input type="text" name='repo' class="form-control" placeholder="username/repo">
          </div>
        </form>
      </header>
      <div class='row'>
        <%= yield %>
      </div>
      <footer class="footer">
        <img src='/images/BE.png' alt='thanks to @bdc'/> Made by <a href='http://yannick.io'>Yannick</a> with love in Belgium
      </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>

    <script>
      $(function(){
        $('time').each(function(i, e) {
          var time = moment($(e).attr('datetime'));
          $(e).html(time.fromNow());
          });
        $('form').submit(function(){
          $(location).attr('pathname', $('[name="repo"]').val());
          return false;
          });
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33356575-4', 'yannick.io');
      ga('send', 'pageview');

    </script>
  </body>
</html>
