header {
  text-align: center;
  padding: 40px 0;
}
.sortable {
  cursor: pointer;
}
th.sortable.headerSortUp::after { content: " \f0dd"; font-family: FontAwesome;}
th.sortable.headerSortDown::after { content: " \f0de"; font-family: FontAwesome;}
th.sortable::after { content: " \f0dc"; font-family: FontAwesome;}
h3 {
  text-align: center;
}
h3 .glyphicon {
  margin-right: 20px;
}
footer {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}
.social {
  margin-top: 20px;
}
