header {
  text-align: center;
  padding: 40px 0;
}
.container.main {
  max-width: 600px;
}
h3 {
  text-align: center;
}
h3 .glyphicon {
  margin-right: 20px;
}
footer {
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}
.social {
  margin-top: 20px;
}
